name: Terraform Apply

inputs:
  deployment_environment:
    required: true
    type: string
  checkout-ref:
    required: true
    type: string
  target:
    required: false
    type: string
    default: ""
  github-token:
    required: true
    type: string
  package-lambdas:
    required: false
    type: boolean
    default: false
  terraform-version:
    required: false
    type: string
    default: 1.13.4
run:
  using: "compsite"
  steps:
    - name: Git checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.checkout-ref }}
        fetch-depth: 0

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false
        terraform_version: ${{ inputs.terraform-version }}

    - name: Terraform Init
      id: init
      run: terraform -chdir=./terraform init

    - name: Download Terraform Plan
      uses: actions/download-artifact@v4
      with:
        name: tfplan
        path: terraform
      continue-on-error: false

    - name: Terraform Apply
      working-directory: ./terraform
      run: |
        if [ -n "${{ inputs.target }}" ]; then
          terraform apply -target=${{ inputs.target }} -auto-approve -input=false tfplan
        else
          terraform apply -auto-approve -input=false tfplan
        fi
      continue-on-error: false

    - name: Delete tag
      uses: actions/github-script@v7
      env:
        GITHUB_TOKEN: ${{ inputs.github-token }}
      with:
        script: |
          github.rest.git.deleteRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'tags/deployment/main'
          })
      continue-on-error: false

    - name: Create tag
      uses: actions/github-script@v7
      env:
        GITHUB_TOKEN: ${{ inputs.github-token }}
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/deployment/main',
            sha: context.sha
          })
      continue-on-error: false
